<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../../../resources/assets/img/apple-icon.png"
	th:href="@{/resources/assets/img/apple-icon.png}">
<link rel="icon" type="image/png"
	href="../../../resources/assets/img/favicon.png"
	th:href="@{/resources/assets/img/favicon.png}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Convive - Cat&aacute;logo -</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet">
<!-- CSS Files -->
<link href="../../../resources/assets/css/bootstrap.min.css"
	th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../../../resources/assets/css/paper-dashboard.css?v=2.0.1"
	th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project 
<link href="../../../resources/assets/demo/demo.css" th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet" />
-->
</head>

<body class="">
	<div class="wrapper ">
		<div class="sidebar" data-color="blue" data-active-color="success">
			<!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text logo-mini">
					<div class="logo-image-small">
						<img src="../../../resources/assets/img/logo-small.png">
					</div>
				</a>
				<a href="http://www.creative-tim.com"
					class="simple-text logo-normal"> CONVIVE 
					<!-- <div class="logo-image-big">
            			<img src="../../../resources/assets/img/logo-big.png">
         	 		</div> -->
				</a>
			</div>
			<div class="sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="../../../resources/assets/img/faces/user-placeholder.png"
							th:src="@{/resources/assets/img/faces/user-placeholder.png}" />
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample" class="collapsed">
							<span> User name <b class="caret"></b></span>
						</a>
						<div class="clearfix"></div>
						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<li>
									<a href="#">
										<span class="sidebar-mini-icon">P</span>
										<span class="sidebar-normal">Mi perfil</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Inicia Menu -->
				<ul th:replace="fragments/menu :: menuFragment"></ul>
				<!-- Termina Menu -->

			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-icon btn-round">
								<i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
								<i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
							</button>
						</div>
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span>
								<span class="navbar-toggler-bar bar2"></span>
								<span class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<a class="navbar-brand" href="#pablo">Convive</a>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->

			<!-- TABLE -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lista de &Aacute;rea</h4>
							</div>
							<div class="card-body">
								<div class="toolbar">
									<!-- Inputs for filtering -->
									<div class="col-md-2 pl-1">
										<div class="form-group" id="filter_col0" data-column="0">
											<label>Name</label>
											<input type="text" name="Name"
												class="form-control column_filter" id="col0_filter"
												placeholder="Name">
										</div>
									</div>
								</div>
							</div>
							<table id="datatable" class="table table-striped table-bordered"
								cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Id</th>
										<th>Area</th>
										<th class="disabled-sorting text-right"></th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="item : ${list}">
										<tr>
											<td th:text="${item.id}"></td>
											<td th:text="${item.area}"></td>
											<td class="text-center"><a
												th:href="@{'editar/' + ${item.id}}">Editar</a></td>
										</tr>
									</th:block>
								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
				<!-- end col-md-12 -->
			</div>
			<!-- end row -->
		</div>
		<!-- END TABLE -->

		<footer class="footer footer-black  footer-white ">
			<div class="container-fluid">
				<div class="row">
					<nav class="footer-nav">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</nav>
					<div class="credits ml-auto">
						<span class="copyright"> © 
							<script>document.write(new Date().getFullYear())</script>
						</span>
					</div>

					<!-- MODALS -->
					<div class="modal fade right" id="modalConfirm" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalPreviewLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content" style="border-radius: 20px;">
								<div class="modal-body" style="text-align: center;">
									<h1>
										<i class="fa fa-bell-o" aria-hidden="true"></i>
									</h1>
									<h3>Eliminar registro</h3>
									<p>¿Seguro que quieres eliminar este regsitro?</p>
								</div>
								<div class="modal-footer"
									style="text-align: center; display: inline-block; border: none; padding-bottom: 25px;">
									<button type="button" class="btn btn-secundary" data-dismiss="modal">No, Cancelar</button>
									<a class="btn btn-primary"
										th:href="@{/webapp/departamento/delete-template-catalogo}">
										Si, Eliminar
									</a> <br></br>
								</div>
							</div>
						</div>
					</div>
					<!-- END MODALS -->

					<!-- NOTIFICATION -->
					<span id="notificationType" th:text="${action != null} ? ${action}">someValue</span>

				</div>
			</div>
		</footer>
	</div>
	
	<!--   Core JS Files   -->
	<script src="../../../resources/assets/js/core/jquery.min.js"
		th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script src="../../../resources/assets/js/core/popper.min.js"
		th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script src="../../../resources/assets/js/core/bootstrap.min.js"
		th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script src="../../../resources/assets/js/plugins/perfect-scrollbar.jquery.min.js"
		th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script src="../../../resources/assets/js/plugins/moment.min.js"
		th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script src="../../../resources/assets/js/plugins/bootstrap-switch.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script src="../../../resources/assets/js/plugins/sweetalert2.min.js"
		th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script src="../../../resources/assets/js/plugins/jquery.validate.min.js"
		th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script src="../../../resources/assets/js/plugins/jquery.bootstrap-wizard.js"
		th:src="@{/resources/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script src="../../../resources/assets/js/plugins/bootstrap-selectpicker.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script src="../../../resources/assets/js/plugins/bootstrap-datetimepicker.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script src="../../../resources/assets/js/plugins/jquery.dataTables.min.js"
		th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script src="../../../resources/assets/js/plugins/bootstrap-tagsinput.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="../../../resources/assets/js/plugins/jasny-bootstrap.min.js"
		th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script src="../../../resources/assets/js/plugins/jquery-jvectormap.js"
		th:src="@{/resources/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script src="../../../resources/assets/js/plugins/nouislider.min.js"
		th:src="@{/resources/assets/js/plugins/nouislider.min.js}"></script>
	<!-- Chart JS -->
	<script src="../../../resources/assets/js/plugins/chartjs.min.js"
		th:src="@{/resources/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script src="../../../resources/assets/js/plugins/bootstrap-notify.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="../../../resources/assets/js/paper-dashboard.min.js?v=2.1.1"
		type="text/javascript"
		th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.1.1}"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="../../../resources/assets/demo/demo.js"
		th:src="@{/resources/assets/demo/demo.js}"></script>
	<script>
		function showNotification() {
			var type = "[[${action}]]";
			var msg = "[[${message}]]";
			console.log($("#notificationType").text() + " - " + msg);

			$.notify({
				icon : "nc-icon nc-bell-55",
				message : msg

			}, {
				type : type,
				timer : 1000,
				placement : {
					from : 'top',
					align : 'right'
				}
			});
		}

		$(document).ready(function() {

			var type = $("#notificationType").text();
			if (type) {
				showNotification();
			}

			/*
			AJAX DATATABLE
			var table = $('#datatable').DataTable( {
			    "serverSide": true,
			    "ajax": {
			        "url": 'http://localhost:8080/webapp/datatable',
			        "data": function ( d ) {
			            d.searchTerm = d.search.value;
			            d.firstResult = d.start;
			            d.maxResults = d.length;
			            d.searchColumn = $('#col0_filter').val()
			            // d.custom = $('#myInput').val();
			            // etc
			        }
			    },
			    "columns": [
			        { "data": "id" },
			        { "data": "field1" },
			        { "data": "field2" },
			        { "data": "field3" }
			    ]
			} );

			$('#col0_filter').keyup( function() {
			    table.draw();
			} );
			 */

			$('#datatable').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Search records",
				}

			});

			var table = $('#datatable').DataTable();

		});
	</script>
</body>

</html>
