<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="../../resources/assets/img/apple-icon.png" th:href="@{/resources/assets/img/apple-icon.png}" />
<link rel="icon" type="image/png" href="../../resources/assets/img/favicon.png" th:href="@{/resources/assets/img/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Convive</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
	
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<!-- CSS Files -->
<link href="../../resources/assets/css/bootstrap.min.css" th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../../resources/assets/css/paper-dashboard.css?v=2.0.1" th:href="@{/resources/assets/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../../resources/assets/demo/demo.css" th:href="@{/resources/assets/demo/demo.css}" rel="stylesheet" />
</head>

<body class="login-page">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
		<div class="container">
			<div class="collapse navbar-collapse justify-content-end" id="navigation"></div>
		</div>
	</nav>
	<!-- End Navbar -->
	
	<div class="wrapper wrapper-full-page ">
		<div class="full-page section-image" filter-color="black"
			data-image="../../resources/assets/img/bg/fabio-mangione.jpg"
			th:data-image="@{/resources/assets/img/bg/fabio-mangione.jpg}">
			<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
			<div class="content">
				<div class="container">
					<div class="col-lg-4 col-md-6 ml-auto mr-auto">
						
						<!-- LOGIN FORM -->
						<form id="formLogin" class="form" action="">
							<div class="card card-login">
								<div class="card-header ">
									<div class="card-header ">
										<h3 class="header text-center">Login</h3>
									</div>
								</div>
								<div class="card-body ">
									<div class="input-group has-label">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i
												class="nc-icon nc-single-02"></i>
											</span>
										</div>
										<input type="text" class="form-control" placeholder="Username"
											id="username" name="username" required>
									</div>
									<div class="input-group has-label">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i
												class="nc-icon nc-key-25"></i>
											</span>
										</div>
										<input type="password" class="form-control"
											placeholder="Password" id="password" name="password" required
											autocomplete="off">
									</div>
									<br />
								</div>
								<div class="card-footer ">
									<!-- <a href="" class="btn btn-warning btn-round btn-block mb-3">Log In</a> -->
									<button type="submit" class="btn btn-primary cta-orange col">Iniciar
										Sesión</button>
								</div>
							</div>
						</form>
						<!-- END LOGIN FORM -->
						
					</div>
				</div>
			</div>
			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div class="row">
						<nav class="footer-nav">
							<ul>

							</ul>
						</nav>
						<div class="credits ml-auto">
							<span class="copyright"> © <script>document.write(new Date().getFullYear())</script></span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script src="../../resources/assets/js/core/jquery.min.js"
		th:src="@{/resources/assets/js/core/jquery.min.js}"></script>
	<script src="../../resources/assets/js/core/popper.min.js"
		th:src="@{/resources/assets/js/core/popper.min.js}"></script>
	<script src="../../resources/assets/js/core/bootstrap.min.js"
		th:src="@{/resources/assets/js/core/bootstrap.min.js}"></script>
	<script
		src="../../resources/assets/js/plugins/perfect-scrollbar.jquery.min.js"
		th:src="@{/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<script src="../../resources/assets/js/plugins/moment.min.js"
		th:src="@{/resources/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script src="../../resources/assets/js/plugins/bootstrap-switch.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-switch.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script src="../../resources/assets/js/plugins/sweetalert2.min.js"
		th:src="@{/resources/assets/js/plugins/sweetalert2.min.js}"></script>
	<!-- Forms Validations Plugin -->
	<script src="../../resources/assets/js/plugins/jquery.validate.min.js"
		th:src="@{/resources/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script
		src="../../resources/assets/js/plugins/jquery.dataTables.min.js"
		th:src="@{/resources/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script src="../../resources/assets/js/plugins/bootstrap-tagsinput.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="../../resources/assets/js/plugins/jasny-bootstrap.min.js"
		th:src="@{/resources/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script src="../../resources/assets/js/plugins/fullcalendar.min.js"
		th:src="@{/resources/assets/js/plugins/fullcalendar.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script src="../../resources/assets/js/plugins/bootstrap-notify.js"
		th:src="@{/resources/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="../../resources/assets/js/paper-dashboard.min.js?v=2.0.1"
		type="text/javascript"
		th:src="@{/resources/assets/js/paper-dashboard.min.js?v=2.0.1}"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="../../resources/assets/demo/demo.js"
		th:src="@{/resources/assets/demo/demo.js}"></script>
	<script>

  function setFormValidation(id) {
	  	$(id).validate({
		  	rules: {
		  		username: {
					required: true,
					minlength: 8
				},
				password: {
					required: true,
					minlength: 8
				}
			},
		highlight: function(element) {
	          $(element).closest('.input-group').removeClass('has-success').addClass('has-danger');
		},
		success: function(element) {
	          $(element).closest('.input-group').removeClass('has-danger').addClass('has-success');
		},
		errorPlacement: function(error, element) {
	          $(element).closest('.input-group').append(error);
		},
	   });
	}
  
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
      setFormValidation('#formLogin');
    });

  </script>
</body>

</html>